<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">

</head>
<body>
<h1>Members Page</h1>
<form action="" method="POST" class="">
    <div >
        {% csrf_token %}
        {{ reg_members.as_p }}
        <input type="submit" name="members" value="RegisterMembers" style="color: #477943;
        border-color: #d3dcd3;
        alignment: center;
        width: 200px ;
        height: 30px;margin-left: 440px">
    </div>
</form>
{% if submit_members == "RegisterMembers" %}

    {{ name }}
    {{ age }}
    {{ phone }}
    {{ city }}
    {{ country }}

{% endif %}
</body>
</html>